.tag.ant-tag {
  display: flex;
  box-sizing: border-box;
  font-family: Roboto;
  gap: 10px;
  font-size: 14px;
  border-radius: 2.5px;
  margin: unset;
  color: #777;
}

.close {
  color: #777;
  cursor: pointer;
}
